ALL Mule RelatedR/Mule3-master/consuming-myown-soap-ws/src/main/wsdl/helloworld.wsdl



<wsdl:definitions targetNamespace="http://ws.rocky.gdg.com/" name="HelloService" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.rocky.gdg.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


<wsdl:types>


<xs:schema targetNamespace="http://ws.rocky.gdg.com/" xmlns:tns="http://ws.rocky.gdg.com/" version="1.0" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="divide" type="tns:divide"/>

<xs:element name="divideResponse" type="tns:divideResponse"/>

<xs:element name="multiply" type="tns:multiply"/>

<xs:element name="multiplyResponse" type="tns:multiplyResponse"/>

<xs:element name="subtract" type="tns:subtract"/>

<xs:element name="subtractResponse" type="tns:subtractResponse"/>

<xs:element name="sum" type="tns:sum"/>

<xs:element name="sumResponse" type="tns:sumResponse"/>


<xs:complexType name="divide">


<xs:sequence>

<xs:element name="arg0" type="xs:int"/>

<xs:element name="arg1" type="xs:int"/>

</xs:sequence>

</xs:complexType>


<xs:complexType name="divideResponse">


<xs:sequence>

<xs:element name="return" type="xs:int"/>

</xs:sequence>

</xs:complexType>


<xs:complexType name="sum">


<xs:sequence>

<xs:element name="arg0" type="xs:int"/>

<xs:element name="arg1" type="xs:int"/>

</xs:sequence>

</xs:complexType>


<xs:complexType name="sumResponse">


<xs:sequence>

<xs:element name="return" type="xs:int"/>

</xs:sequence>

</xs:complexType>


<xs:complexType name="subtract">


<xs:sequence>

<xs:element name="arg0" type="xs:int"/>

<xs:element name="arg1" type="xs:int"/>

</xs:sequence>

</xs:complexType>


<xs:complexType name="subtractResponse">


<xs:sequence>

<xs:element name="return" type="xs:int"/>

</xs:sequence>

</xs:complexType>


<xs:complexType name="multiply">


<xs:sequence>

<xs:element name="arg0" type="xs:int"/>

<xs:element name="arg1" type="xs:int"/>

</xs:sequence>

</xs:complexType>


<xs:complexType name="multiplyResponse">


<xs:sequence>

<xs:element name="return" type="xs:int"/>

</xs:sequence>

</xs:complexType>

</xs:schema>

</wsdl:types>


<wsdl:message name="divide">

<wsdl:part name="parameters" element="tns:divide"> </wsdl:part>

</wsdl:message>


<wsdl:message name="sum">

<wsdl:part name="parameters" element="tns:sum"> </wsdl:part>

</wsdl:message>


<wsdl:message name="divideResponse">

<wsdl:part name="parameters" element="tns:divideResponse"> </wsdl:part>

</wsdl:message>


<wsdl:message name="multiply">

<wsdl:part name="parameters" element="tns:multiply"> </wsdl:part>

</wsdl:message>


<wsdl:message name="sumResponse">

<wsdl:part name="parameters" element="tns:sumResponse"> </wsdl:part>

</wsdl:message>


<wsdl:message name="multiplyResponse">

<wsdl:part name="parameters" element="tns:multiplyResponse"> </wsdl:part>

</wsdl:message>


<wsdl:message name="subtract">

<wsdl:part name="parameters" element="tns:subtract"> </wsdl:part>

</wsdl:message>


<wsdl:message name="subtractResponse">

<wsdl:part name="parameters" element="tns:subtractResponse"> </wsdl:part>

</wsdl:message>


<wsdl:portType name="Hello">


<wsdl:operation name="divide">

<wsdl:input name="divide" message="tns:divide"> </wsdl:input>

<wsdl:output name="divideResponse" message="tns:divideResponse"> </wsdl:output>

</wsdl:operation>


<wsdl:operation name="sum">

<wsdl:input name="sum" message="tns:sum"> </wsdl:input>

<wsdl:output name="sumResponse" message="tns:sumResponse"> </wsdl:output>

</wsdl:operation>


<wsdl:operation name="subtract">

<wsdl:input name="subtract" message="tns:subtract"> </wsdl:input>

<wsdl:output name="subtractResponse" message="tns:subtractResponse"> </wsdl:output>

</wsdl:operation>


<wsdl:operation name="multiply">

<wsdl:input name="multiply" message="tns:multiply"> </wsdl:input>

<wsdl:output name="multiplyResponse" message="tns:multiplyResponse"> </wsdl:output>

</wsdl:operation>

</wsdl:portType>


<wsdl:binding name="HelloServiceSoapBinding" type="tns:Hello">

<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>


<wsdl:operation name="divide">

<soap:operation style="document" soapAction=""/>


<wsdl:input name="divide">

<soap:body use="literal"/>

</wsdl:input>


<wsdl:output name="divideResponse">

<soap:body use="literal"/>

</wsdl:output>

</wsdl:operation>


<wsdl:operation name="sum">

<soap:operation style="document" soapAction=""/>


<wsdl:input name="sum">

<soap:body use="literal"/>

</wsdl:input>


<wsdl:output name="sumResponse">

<soap:body use="literal"/>

</wsdl:output>

</wsdl:operation>


<wsdl:operation name="subtract">

<soap:operation style="document" soapAction=""/>


<wsdl:input name="subtract">

<soap:body use="literal"/>

</wsdl:input>


<wsdl:output name="subtractResponse">

<soap:body use="literal"/>

</wsdl:output>

</wsdl:operation>


<wsdl:operation name="multiply">

<soap:operation style="document" soapAction=""/>


<wsdl:input name="multiply">

<soap:body use="literal"/>

</wsdl:input>


<wsdl:output name="multiplyResponse">

<soap:body use="literal"/>

</wsdl:output>

</wsdl:operation>

</wsdl:binding>


<wsdl:service name="HelloService">


<wsdl:port name="HelloPort" binding="tns:HelloServiceSoapBinding">

<soap:address location="http://localhost:1234/Soap/Hello"/>

</wsdl:port>

</wsdl:service>

</wsdl:definitions>