Eclipse-Workspace-master/WebServiceSubtraction/WebContent/wsdl/isubtractimpl_schema1.xsd

<xs:schema xmlns:tns="http://webservice.rocky.gdg.om/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.rocky.gdg.om/" version="1.0">

  <xs:element name="subtract" type="tns:subtract"/>

  <xs:element name="subtractResponse" type="tns:subtractResponse"/>

  <xs:complexType name="subtract">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subtractResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
